---
import Header from '../components/Header.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
const pageTitle = "关于我们";

const identity = {
  firstName: "蔚洛雪",
  country: "中国大陆地区",
  occupation: "技术撰稿人，电力生产从事者",
  hobbies: ["新技术", "游戏", ""],
};

const skills = ["前端", "火电厂电力生产", "办公软件","Astro", "健身和训练教练"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "purple";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		    <title>{pageTitle}</title>

    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }

:root {
  --skillColor: red;

  }
    .skill {
    color: var(--skillColor);
   font-weight: bold;
 }
    </style>






	</head>
	<body>

    <Header />

    <h1>{pageTitle}</h1>
  <h2>……和我的新 Astro 网站！</h2>

  <p>我正在学习 Astro 的入门教程。这是我网站上的第二个页面，也是我自己建立的第一页面！</p>

  <p>随着我完成更多教程，该站点将更新，所以请继续查看我的旅程将如何进行吧！</p>
<p>以下是关于我的几个事实：</p>
<ul>
  <li>我的名字是{identity.firstName}.</li>
  <li>我住在{identity.country}。我的职业是{identity.occupation}。</li>
  {identity.hobbies.length >= 2 &&
    <li>我的两个爱好：{identity.hobbies[0]}和{identity.hobbies[1]}</li>
  }
</ul>
<p>我的技能是：</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>


{happy && <p>我非常乐意学习 Astro！</p>}

{finished && <p>我正在路上！</p>}

{goal === 3 ? <p>我的目标是在30天内完成。</p> : <p>我的目标不是 3 天。</p>}

  <Footer />

   <script>
   import "../scripts/menu.js";
 </script>

	</body>
</html>
